body {
    font-family: Arial, sans-serif;
    line-height: 2;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: #fff;
    padding: 1rem 0;
}

nav ul {
    list-style: none;
    padding: 0;
    text-align: center;
    display: flex; /* This makes the list items inline */
    justify-content: center; /* This centers the nav items */
}

nav ul li {
    margin: 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    text-align: center;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

img {
    max-width: 100%;
    height: auto;
}

/* Media Queries */
@media (max-width: 600px) {
    body {
        font-size: 0.9rem;
    }

    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    img {
        max-width: 60%;
    }
}
